# Доброю практикою є створення файлу .env.example, де перелічуються всі змінні без реальних значень. Це допомагає іншим розробникам налаштувати своє середовище
PORT=
NODE_ENV=
MONGO_URL=
FRONTEND_URL=

# nodemailer :
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
# Пошта на яку реєстрували акаунт brevo.com
SMTP_FROM=
# Довільний рядок для генерації підпису токена
JWT_SECRET=
# Домен фронтенда на який буде вести посилання в листі
FRONTEND_DOMAIN=

# Cloudinary:
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
